<div class="container">
  <h1>Welcome to Sinatra!</h1>



  <form method='post' action='/sign_up'>
    Name: <INPUT type="full_name" name='full_name' placeholder='Name'><br>
    Email: <INPUT type="email" name='email' placeholder='email'><br>
    Password: <INPUT type="password" name='password' placeholder='password'><br>
    <button>Sign Up</button>

  </form>
</div>