<div class="container">
  <h1>Welcome to the super special users page!!</h1>

  <h2>Only kewl kats like you are allowed...</h2>

  <form method='get' action='/log_out'>
    <button>Log out</button>
  </form>
</div>